h1{
	text-align: center;
		background-color:	#FFFFE0;
}
.video{
	text-align: center;
}
h2{
	text-align: center;
		background-color:	#FFFFE0;
	border: 50px,solid ,#000000;

}
.your-centered-div {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px;

    /* positions according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */

    border: 1px solid red;
}
.footer{
	text-align: center;
}
body{
	background-color:	#FFFFE0;
}
#main{
	text-align: center;
	border: 10px;
	font-weight: bolder;
	text-decoration: underline;
		background-color:	#FFFFE0;
}
body{
	line-height: 2;
}

.centerimage{
	text-align:center;
	positon:absolute;

}
h3{
	text-align: center;
	background-color:	#FFFFE0;
}
figcaption{
	text-align: center;

}
blockquote {
	text-align: center;
	font-size: 20px;
}
p {
	text-align: center;
	font-size: : 25px;

}
figure figcaption{
text-align: center;
}
.new{
	text-align:left;
}
img {
    display: block;
    margin: 0 auto;
}
